<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IProcessDataService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IUserService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.63.234:9011/MonitoringService/NotificationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="NotificationServiceReference.INotificationService" name="BasicHttpBinding_INotificationService"/>
      <endpoint address="http://172.20.63.234:9011/MonitoringService/ProcessDataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessDataService" contract="ProcessDataServiceReference.IProcessDataService" name="BasicHttpBinding_IProcessDataService"/>
      <endpoint address="http://172.20.63.234:9011/MonitoringService/UserService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService"/>
    </client>
  </system.serviceModel>
  <connectionStrings></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct3D9" publicKeyToken="627a3d6d1956f55a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="627a3d6d1956f55a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
