<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IProcessDataService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WSDualHttpBinding_IUserService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WSDualHttpBinding_INotificationService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9010/MonitoringService/ProcessDataService/wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IProcessDataService" contract="ProcessDataServiceReference.IProcessDataService" name="WSDualHttpBinding_IProcessDataService">
        <identity>
          <userPrincipalName value="ma.ramezani@SBO.COM" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9010/MonitoringService/UserService/wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="WSDualHttpBinding_IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9010/MonitoringService/NotificationService/wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_INotificationService" contract="NotificationServiceReference.INotificationService" name="WSDualHttpBinding_INotificationService">
        <identity>
          <userPrincipalName value="ma.ramezani@SBO.COM" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
