<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.10.5:9011/MonitoringService/ProcessDataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessDataService" contract="BSProcessDataServiceReference.IProcessDataService" name="BasicHttpBinding_IProcessDataService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProcessDataService" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualBindingConfiguration" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="MonitoringServiceLibrary.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="MonitoringServiceLibrary.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="http://localhost:9010/MonitoringService" binding="wsDualHttpBinding" bindingConfiguration="" contract="MonitoringServiceLibrary.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MonitoringServiceLibrary/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.UserService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration" contract="MonitoringServiceLibrary.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/UserService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.ProcessDataService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration" contract="MonitoringServiceLibrary.IProcessDataService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/ProcessDataService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.DataCollectorService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration" contract="MonitoringServiceLibrary.IDataCollectorService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/DataCollectorService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.NotificationService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration" name="" contract="MonitoringServiceLibrary.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/NotificationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.TechnicalFanCoil">
        <endpoint address="" binding="basicHttpBinding" contract="MonitoringServiceLibrary.ITechnicalFanCoil">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MonitoringServiceLibrary/TechnicalFanCoil/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    
  <add name="IndustrialMonitoringEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IndustrialMonitoring;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>