<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_INotificationService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9010/MonitoringService/NotificationService/wsDualHttp"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_INotificationService"
                contract="NotificationServiceReference.INotificationService"
                name="WSDualHttpBinding_INotificationService">
                <identity>
                    <userPrincipalName value="ma.ramezani@SBO.COM" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>