<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataCollectorService" maxReceivedMessageSize="524288" />
        <binding name="BasicHttpBinding_IUserService" maxReceivedMessageSize="524288" />
        <binding name="BasicHttpBinding_IProcessDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.63.234:9011/MonitoringService/DataCollectorService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCollectorService" contract="DataCollectorServiceReference.IDataCollectorService" name="BasicHttpBinding_IDataCollectorService" />
      <endpoint address="http://172.20.63.234:9011/MonitoringService/UserService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UsersServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://172.20.63.234:9011/MonitoringService/ProcessDataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessDataService" contract="ProcessDataServiceReference.IProcessDataService" name="BasicHttpBinding_IProcessDataService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="IndustrialMonitoringEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2016;initial catalog=IndustrialMonitoring;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="IndustrialMonitoringEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2016;initial catalog=IndustrialMonitoring;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
