<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataCollectorService" maxReceivedMessageSize="524288"/>
                <binding name="BasicHttpBinding_IProcessDataService" maxReceivedMessageSize="524288"/>
                <binding name="BasicHttpBinding_IUserService" maxReceivedMessageSize="524288"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.20.63.234:9011/MonitoringService/DataCollectorService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCollectorService" contract="DataCollectorServiceReference.IDataCollectorService" name="BasicHttpBinding_IDataCollectorService"/>
            <endpoint address="http://172.20.63.234:9011/MonitoringService/ProcessDataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessDataService" contract="ProcessDataServiceReference.IProcessDataService" name="BasicHttpBinding_IProcessDataService"/>
            <endpoint address="http://172.20.63.234:9011/MonitoringService/UserService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UsersServiceReference.IUserService" name="BasicHttpBinding_IUserService"/>
        </client>
    </system.serviceModel>
</configuration>
