<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualBindingConfiguration" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="MonitoringServiceLibrary.UserService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration"
          contract="MonitoringServiceLibrary.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/UserService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.ProcessDataService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration"
          contract="MonitoringServiceLibrary.IProcessDataService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/ProcessDataService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.DataCollectorService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration"
          contract="MonitoringServiceLibrary.IDataCollectorService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/MonitoringService/NotificationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MonitoringServiceLibrary.NotificationService">
        <endpoint address="wsDualHttp" binding="wsDualHttpBinding" bindingConfiguration="wsDualBindingConfiguration"
          contract="MonitoringServiceLibrary.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>